<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.BillMapper">

    <select id="findAll" resultType="Bill">
        SELECT *
        FROM bill
    </select>

    <select id="selectBillByUserId" resultType="Bill">
        SELECT *
        FROM bill
        WHERE userId = #{userId}
    </select>

    <insert id="insertBill" parameterType="Bill">
        INSERT INTO bill (rcId, userId, rcType, rcAmount, insertTime,updateTime,
                             remarks)
        VALUES (#{rcId}, #{userId}, #{rcType}, #{rcAmount}, #{insertTime},#{updateTime},
                #{remarks})
    </insert>

    <select id="querySumAmountByMonth" resultType="Integer">
        SELECT sum(rcAmount)
        FROM bill
        WHERE MONTH(insertTime)=#{month} AND rcType=#{rcType}
        GROUP BY rcType
    </select>

</mapper>