<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.ClassTableMapper">

    <select id="findAll" resultType="classTable">
        SELECT *
        FROM class_table
    </select>

    <delete id="deleteClassBycourseId" parameterType="java.lang.Integer">
        DELETE
        FROM class_table
        WHERE courseId = #{courseId}
    </delete>

    <insert id="insertClass" parameterType="classTable">
INSERT INTO class_table (courseId, courseName, trId, courseBegin, courseEnd, coursePrice, eqId, insertTime, updateTime, remarks)
        VALUES (#{courseId},#{courseName}, #{trId}, #{courseBegin}, #{courseEnd}, #{coursePrice}, #{eqId}, #{insertTime}, #{updateTime}, #{remarks})
    </insert>

    <select id="selectBycourseId" parameterType="java.lang.Integer" resultType="classTable">
        SELECT *
        FROM class_table
        WHERE courseId = #{courseId}
    </select>

    <delete id="deleteOrderBycourseId" parameterType="java.lang.Integer">
        DELETE
        FROM class_order
        WHERE courseId = #{courseId}
    </delete>


</mapper>