<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.EquipmentMapper">

    <select id="findAll" resultType="equipment">
        SELECt *
        FROM equipment
    </select>

    <delete id="deleteByeqId" parameterType="java.lang.Integer">
        DELETE
        FROM equipment
        WHERE eqId = #{eqId}
    </delete>

    <insert id="insertEquipment" parameterType="equipment">
        INSERT INTO equipment (eqId, eqName, eqIns, eqNumber, insertTime, updateTime, expiryTime, instruction, remarks)
        VALUES (#{eqId}, #{eqName}, #{eqIns}, #{eqNumber}, #{insertTime}, #{updateTime}, #{expiryTime}, #{instruction}, #{remarks})
    </insert>

    <update id="updateEquipmentByeqId" parameterType="equipment">
        UPDATE equipment
        SET eqId       = #{eqId},
            eqName     = #{eqName},
            eqIns      = #{eqIns},
            eqNumber   = #{eqNumber},
            insertTime = #{insertTime},
            updateTime = #{updateTime},
            expiryTime = #{expiryTime},
            instruction= #{instruction},
            remarks    = #{remarks}
        WHERE eqId = #{eqId}
    </update>

    <select id="selectByeqId" parameterType="java.lang.Integer" resultType="equipment">
        SELECT *
        FROM equipment
        WHERE eqId = #{eqId}
    </select>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM equipment
    </select>

</mapper>