<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.MemberMapper">

    <select id="findAll" resultType="member">
        SELECT *
        FROM user
    </select>

    <insert id="insertUser" parameterType="member">
        INSERT INTO user (userId, userAc, userName, userGender, userPh, userPt, userPw, insertTime, updateTime, startTime, endTime, remarks)
        VALUES (#{userId},#{userAc}, #{userName}, #{userGender}, #{userPh},#{userPt}, #{userPw}, #{insertTime},#{updateTime}, #{startTime}, #{endTime}, #{remarks})
    </insert>

    <update id="updateMemberByMemberAccount" parameterType="member">
        UPDATE user
        SET userId          = #{userId},
            userAc          = #{userAc},
            userPw          = #{userPw},
            userName        = #{userName},
            userGender      = #{userGender},
            userPh          = #{userPh},
            userPt          = #{userPt},
            insertTime      = #{insertTime},
            updateTime      = #{updateTime},
            startTime       = #{startTime},
            endTime         = #{endTime},
            remarks         = #{remarks}
        WHERE userAc = #{userAc}
    </update>

    <update id="updateMemberPtByMemberAccount" parameterType="member">
        UPDATE user
        SET userPt = #{userPt}
        WHERE userId = #{userId}
    </update>

    <select id="selectByAccountAndPassword" resultType="member">
        SELECT *
        FROM user
        WHERE userAc = #{userAc}
          AND userPw = #{userPw}
    </select>

    <delete id="deleteByMemberAccount" parameterType="java.lang.Integer">
        DELETE
        FROM user
        WHERE userAc = #{userAc}
    </delete>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM user
    </select>

    <select id="selectByMemberAccount" parameterType="java.lang.Integer" resultType="member">
        SELECT *
        FROM user
        WHERE userAc = #{userAc}
    </select>

</mapper>