<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">添加课程</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">主页</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/class/selClass}">课程管理</a></li>
                    <li class="breadcrumb-item active">添加课程</li>
                </ol>

                <div class="card mb-4">

                    <form th:action="@{/class/addClass}" method="post" name="addForm"
                          onsubmit="return beforeSubmit(this)">
                        <table class="table table-hover">
                            <tr>
                                <td text-align="center">课程编号：</td>
                                <td><input type="text" class="form-control" placeholder="4位编号" name="courseId"></td>
                            </tr>

                            <tr>
                                <td text-align="center">课程名称：</td>
                                <td><input type="text" class="form-control" placeholder="课程名称" name="courseName">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">教练编号：</td>
                                <td><input type="text" class="form-control" placeholder="4位编号" name="trId">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">课程开始时间：</td>
                                <td><input type="text" class="form-control" placeholder="xxxx年xx月xx日00:00:00" name="courseBegin">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">课程结束时间：</td>
                                <td><input type="text" class="form-control" placeholder="xxxx年xx月xx日00:00:00" name="courseEnd">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">课程价格：</td>
                                <td><input type="text" class="form-control" placeholder="" name="coursePrice">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">器材编号：</td>
                                <td><input type="text" class="form-control" placeholder="4位编号" name="eqId">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">备注：</td>
                                <td><input type="text" class="form-control" placeholder="" name="remarks">
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center;margin-top:20px;margin-bottom:20px">
                            <input type="submit" class="btn btn-outline-success" value="添加">
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>
<script type="text/javascript">
    function beforeSubmit(addForm) {
        if (addForm.courseId.value == "") {
            alert("请输入课程编号！")
            return false;
        }
        if (addForm.courseName.value == "") {
            alert("请输入课程名称！")
            return false;
        }
        if (addForm.trId.value == "") {
            alert("请输入教练编号！")
            return false;
        }
        if (addForm.courseBegin.value == "") {
            alert("请输入课程开始时间！")
            return false;
        }
        if (addForm.courseEnd.value == "") {
            alert("请输入课程结束时间！")
            return false;
        }
        if (addForm.coursePrice.value == "") {
            alert("请输入课程价格！")
            return false;
        }
        if (addForm.eqId.value == "") {
            alert("请输入器材编号！")
            return false;
        }
        if (addForm.remarks.value == "") {
            alert("请输入备注！")
            return false;
        }
        return true;
    }
</script>
</body>
</html>
