<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">课程管理</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">主页</a></li>
                    <li class="breadcrumb-item active">课程管理</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        课程信息表
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>课程编号</th>
                                <th>课程名称</th>
                                <th>教练编号</th>
                                <th>课程开始时间</th>
                                <th>课程结束时间</th>
                                <th>课程价格</th>
                                <th>器材编号</th>
                                <th>插入时间</th>
                                <th>修改时间</th>
                                <th>备注</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="class:${classList}">
                                <td th:text="${class.getCourseId()}">课程编号</td>
                                <td th:text="${class.getCourseName()}">课程名称</td>
                                <td th:text="${class.getTrId()}">教练编号</td>
                                <td th:text="${class.getCourseBegin()}">课程开始时间</td>
                                <td th:text="${class.getCourseEnd()}">课程结束时间</td>
                                <td th:text="${class.getCoursePrice()}">课程价格</td>
                                <td th:text="${class.getEqId()}">器材编号</td>
                                <td th:text="${class.getInsertTime()}">插入时间</td>
                                <td th:text="${class.getUpdateTime()}">修改时间</td>
                                <td th:text="${class.getRemarks()}">备注</td>
<!--                            <tr th:each="class:${classList}">
                                <td th:text="${class.courseId}">课程编号</td>
                                <td th:text="${class.courseName}">课程名称</td>
                                <td th:text="${class.trId}">教练编号</td>
                                <td th:text="${class.courseBegin}">课程开始时间</td>
                                <td th:text="${class.courseEnd}">课程结束时间</td>
                                <td th:text="${class.coursePrice}">课程价格</td>
                                <td th:text="${class.eqId}">器材编号</td>
                                <td th:text="${class.insertTime}">插入时间</td>
                                <td th:text="${class.updateTime}">修改时间</td>
                                <td th:text="${class.remarks}">备注</td>-->
                                <td>
                                   <a th:href="@{/class/selClassOrder(courseId=${class.getCourseId()})}"
                                       style="text-decoration: none">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" value="报名信息">
                                    </a>
                                    <a th:href="@{/class/toUpdateClass(courseId=${class.getCourseId()})}"
                                       style="text-decoration: none">
                                        <input type="button" class="btn btn-sm btn-outline-primary" value="编辑">
                                    </a>
                                    <a th:href="@{/class/delClass(courseId=${class.getCourseId()})}"
                                       style="text-decoration: none">
                                        <input type="button" class="btn btn-sm btn-outline-danger"
                                               onclick="return del()" value="删除">
                                    </a>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="text-align:center;margin-top:20px;margin-bottom:20px">
                    <a th:href="@{/class/toAddClass}">
                        <input type="button" class="btn btn-outline-success" value="添加课程信息">
                    </a>
                </div>
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>
<script>
    function del() {
        let msg = "确定要删除吗？";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
