<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">编辑器材</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">主页</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/equipment/selEquipment}">器材管理</a></li>
                    <li class="breadcrumb-item active">编辑器材</li>
                </ol>

                <div class="card mb-4">

                    <form th:action="@{/equipment/updateEquipment}" method="post">
                        <div th:each="equ:${equipmentList}">
                            <table class="table table-hover">
                                <tr>
                                    <td text-align="center">器材编号：</td>
                                    <td><input type="text" class="form-control" readonly="readonly"
                                               th:value="${equ.eqId}" name="eqId">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">器材名称：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.eqName}"
                                               name="eqName"></td>
                                </tr>
                                <tr>
                                    <td text-align="center">器材说明：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.eqIns}"
                                               name="eqIns">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">器材数量：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.eqNumber}"
                                               name="eqNumber">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">购入时间：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.insertTime}"
                                               name="insertTime">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">上次检修时间：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.updateTime}"
                                               name="updateTime">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">有效时间：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.expiryTime}"
                                               name="expiryTime">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">使用说明：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.instruction}"
                                               name="instruciton">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">备注：</td>
                                    <td><input type="text" class="form-control" th:value="${equ.remarks}"
                                               name="remarks">
                                    </td>
                                </tr>
                            </table>
                            <div style="text-align:center;margin-bottom:15px">
                                <input type="submit" class="btn btn-outline-success" value="确认修改">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>
</body>
</html>
