<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">编辑会员</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">主页</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/member/selMember}">会员管理</a></li>
                    <li class="breadcrumb-item active">编辑会员</li>
                </ol>

                <div class="card mb-4">

                    <form th:action="@{/member/updateMember}" method="post" name="updateForm"
                          onsubmit="return beforeSubmit(this)">
                        <div th:each="mem:${memberList}">
                            <table class="table table-hover">
                                <tr>
                                    <td text-align="center">编号：</td>
                                    <td><input type="text" class="form-control" readonly="readonly"
                                               th:value="${mem.userId}" name="userId">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">姓名：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.userName}"
                                               name="userName"></td>
                                </tr>
                                <tr>
                                    <td text-align="center">性别：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.userGender}"
                                               name="userGender"></td>
                                </tr>
                                <tr>
                                    <td text-align="center">账号：</td>
                                    <td><input type="text" class="form-control" readonly="readonly"
                                               th:value="${mem.userAc}" name="userAc">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">密码：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.userPw}"
                                               name="userPw">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">电话：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.userPh}"
                                               name="userPh">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">积分：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.userPt}"
                                               name="userPt">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">插入时间：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.insertTime}"
                                               name="insertTime">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">开始时间：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.startTime}"
                                               name="startTime">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">结束时间：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.endTime}"
                                               name="endTime">
                                    </td>
                                </tr>
                                <tr>
                                    <td text-align="center">备注：</td>
                                    <td><input type="text" class="form-control" th:value="${mem.remarks}"
                                               name="remarks">
                                    </td>
                                </tr>

                            </table>
                            <div style="text-align:center;margin-bottom:15px">
                                <input type="submit" class="btn btn-outline-success" value="确认修改">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>
<script type="text/javascript">
    function beforeSubmit(updateForm) {
        let phone = /^[1][3,4,5,7,8,9][0-9]{9}$/;//设置手机号正则表达式
        if (!phone.test(updateForm.memberPhone.value)) {
            alert("手机号码错误！");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
