<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="userCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="userCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="userCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">会员业务</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toUserMain}">主页</a></li>
                    <li class="breadcrumb-item active">会员业务</li>
                </ol>

                <div class="card mb-4">

                    <form th:action="@{/user/updateBusiness}" method="post" name="updateForm"
                          onsubmit="return beforeSubmit(this)">
                        <table class="table table-hover">
                            <tr>
                                <td text-align="center">会员账号/卡号：</td>
                                <td><input type="text" class="form-control" readonly="readonly"
                                           th:value="${member.userId}" name="userId">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">姓名：</td>
                                <td><input type="text" class="form-control" th:value="${member.userName}"
                                           disabled="disabled" name="userName"></td>
                            </tr>
                            <tr>
                                <td text-align="center">当前余额：</td>
                                <td><input type="text" class="form-control" th:value="${member.userPt}"
                                             name="userPt">
                                </td>
                            </tr>
                            <tr>
                                <td text-align="center">充值余额：</td>
                                <td><input type="text" class="form-control" placeholder="0"
                                           name="RechargeBalance">
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center;margin-bottom:15px">
                            <input type="submit" class="btn btn-outline-success"
                                   onclick="return update()" value="会员充值">
                            <a th:href="@{/user/toUserBill}"
                               style="text-decoration: none;margin-left: 100px">
                                <input type="button" class="btn btn-outline-success"
                                       value="消费记录">
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="userCommon::common-footer"></footer>
    </div>
</div>

<div th:include="userCommon::common-scripts"></div>
<!--<script type="text/javascript">-->
<!--    function beforeSubmit(updateForm) {-->
<!--        let phone = /^[1][3,4,5,7,8,9][0-9]{9}$/;//设置手机号正则表达式-->
<!--        if (!phone.test(updateForm.memberPhone.value)) {-->
<!--            alert("手机号码错误！");-->
<!--            return false;-->
<!--        }-->
<!--        return true;-->
<!--    }-->
<!--</script>-->
<script>
    function update() {
        let msg = "确定要充值吗？";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
